.container{
    width:  100%;
    overflow: hidden;
    background-color: var(--color-interactive-secondary-bg);
    height: 24px;
}

.progressBar {
    height: 100%;
    background-color: var(--color-interactive-primary-bg);
    transition: width var(--transition-duration-normal) var(--transition-timing-function);
}
