.processGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-auto-rows: 120px;
    gap: var(--size-sm);
    align-content: start;

    justify-content: left;

}

.processesList {
    margin: 0;
    list-style: none;
    padding: 0;
}

.buildingScreen {
    display: grid;
    gap: var(--size-sm);
}

.processDetails {

}

.progression {
    display: flex;
    flex-direction: row;
}

.progressionListDetails {

}