.processGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-auto-rows: 120px;
    gap: var(--size-sm);
    align-content: start;

    justify-content: left;

    padding:  var(--size-sm);
}

.processesList {
    margin: 0;
    list-style: none;
    padding: 0;
}

.processDetails {
    padding: var(--size-sm);
}

.buildingNavigation {
    margin: 0;
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: row;

    li {
        margin:  var(--size-sm);
        padding:  var(--size-sm);
        font-size: var(--font-size-md);
        cursor: pointer;

        &.active {
            background-color: var(--color-interactive-primary-bg-active);
        }
    }
}

.progression {

}

.progressionLine {
    display: flex;
    flex-direction: row;

    span {
        padding:  var(--size-sm);
    }
}
