@import "tailwindcss";

@keyframes animated-background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.animated-background {
    background-image: linear-gradient(to right, theme('colors.zinc.700') 0%, theme('colors.yellow.800') 50%, theme('colors.zinc.700') 100%);
    background-size: 300% 100%;
    animation: animated-background 4s linear infinite alternate;
}

