.buildingDetails {
    display:  grid;
    grid-template-columns: 1fr 136px;
    background-color: var(--color-surface-secondary);
    padding: var(--size-sm);
    /*border-radius: var(--border-radius-sm);*/
}

.name {

}

.properties {
    list-style: none;
    padding: 0;
    margin: 0;

}

.propertyLine {
    display: block;
    padding: var(--size-sm);
    color: var(--color-text-primary);
    text-decoration: none;
}


.buildingActions {
    display: flex;
    flex-direction: column;
}

/* WispToggle.module.css */

/* Hide the actual checkbox input */
.toggleInput {
    display: none;
}

/* The main container for positioning */
.toggleContainer {
    display: flex;
    align-items: center;
}

/* The visible "track" of the switch */
.toggleLabel {
    display: inline-block;
    position: relative;
    width: 130px; /* Wider to accommodate text */
    height: 40px;
    text-align: center;
    background-color: var(--raw-color-neutral-700);
    border-radius: var(--border-radius-full);
    cursor: pointer;
    transition: background-color var(--transition-duration-fast) ease-in-out;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* 1. Change the background color of the track */
.toggleInput:checked + .toggleLabel {
    background-color: var(--raw-color-primary-500); /* Your Emberhill gold */
}